<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products">
        <div class="containeradd">
            <h1 style="color: gold;">Insert !</h1>
            <form action="">
                <div class="formadd">
               <input type="text" placeholder="CarName" required>
                {{!-- <label>Car Name</label> --}}
            </div>
            <div class="formadd">
                <input type="text" placeholder="Brand" required >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" placeholder="Price" required>
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" placeholder="Year" >
                {{!-- <label>Brand</label> --}}
             </div> 
            <div class="formadd">
                <input type="text" placeholder="Color" >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                 <input type="file" id="img" name="img" accept="image/*">
                 
            </div>
             <a href="" class="addbtn">ADD PRODUCT</a>
            </form>
        </div>
    </div>
</body>
</html>