<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideOn</title>
    <link rel="stylesheet" href="style.css">
    <!-- Google Icons Link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <!-- Header or Navbar -->
    <header class="headers">
      <nav class="navbar max-width">
        <h1 class="name">RideON</h1>
        
        <ul class="link">
          <li><a href="#">Home</a></li>
          <li><a href="/users/carslist">Cars</a></li>
          <li class="language">
            <span class="material-symbols-outlined">language</span>
            <a href="#">English</a>
          </li>
          <li><a href="/About">About</a></li>
          <li class="btn join"><a href="/users/login">Join</a></li>
        </ul>
      </nav>
    </header>

    <!-- Hero section -->
    <section class="hero">
       <div class="content max-width">
        <h2>Make Some Better Experince With Good Attitude</h2>
        <div class="search-field">
          <input type="text" placeholder="Search for any service...">
          <span class="material-symbols-outlined search-btn">search</span>
        </div>
        <div class="popular-tags">
          Popular:
          <ul class="link">
            <li><a href="/users/carslist">Cars</a></li>
            <li><a href="https://www.google.com/maps/@9.961473,76.2680682,14z?entry=ttu">Locations</a></li>
            <li><a href="/brand">Brands</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
       </div>
    </section>
  </body>
</html>